<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'/>
    <link href='/assets/styles.css' rel='stylesheet'/>
    <link href='/assets/lightbox.min.css' rel='stylesheet'/>
    <link href='https://unpkg.com/aos@2.3.1/dist/aos.css' rel='stylesheet'/>
    <link href='https://fonts.gstatic.com' rel='preconnect'/>
    <link href='https://fonts.googleapis.com/css2?family=Montserrat&display=swap' rel='stylesheet'/>
    <title>{{ settings.meta.title }}</title>
    <meta name='title' content="{{ settings.meta.title }}"/>
    <meta name='description' content="{{ settings.meta.description }}"/>

    <!-- Open Graph / Facebook -->
    <meta content='website' property='og:type'/>
    <meta property='og:url' content="{{ settings.meta.siteUrl }}"/>
    <meta property='og:site_name' content="{{ settings.meta.siteName }}"/>
    <meta content='en_US' property='og:locale'/>
    <meta property='og:title' content="{{ settings.meta.title }}"/>
    <meta property='og:description' content="{{ settings.meta.description }}"/>
    <meta property='og:image' content="{{ settings.cloudinary_url }}{{ settings.meta.imgSrc }}"/>
    <meta content='1280' property='og:image:width'/>
    <meta content='640' property='og:image:height'/>
    <meta property='og:image:alt' content="{{ settings.meta.imgAtl }}"/>

    <!-- Twitter -->
    <meta content='summary_large_image' property='twitter:card'/>
    <meta property='twitter:url' content="{{ settings.meta.siteUrl }}"/>
    <meta property='twitter:title' content="{{ settings.meta.title }}"/>
    <meta property='twitter:description' content="{{ settings.meta.description }}"/>
    <meta property='twitter:image' content="{{ settings.cloudinary_url }}{{ settings.meta.imgSrc }}"/>
    <meta property='twitter:image:alt' content="{{ settings.meta.imgAlt }}"/>
  </head>
  <body>
    <div class='fixed inset-0 bg-white flex items-center justify-center' id='loading' style='z-index: 999999'>
      <img src="{{ settings.cloudinary_url }}/w_200,c_limit,fl_progressive/q_auto:good{{ settings.footer.logoUrl }}" class='h-10 logo-animation' alt='log0'/>
    </div>
    <header class='fixed w-full z-50 transition duration-500'>
      <!-- menu -->
      <div class='container z-10 left-0 right-0 top-0 flex justify-between py-6 items-baseline'>
        <div>
          <a class='cursor-pointer' href='/'>
            <img alt='logo' class='h-8' src="{{ settings.cloudinary_url }}/w_200,c_limit,fl_progressive/q_auto:good{{ settings.header.logoWhiteUrl }}"/>
          </a>
        </div>
        <ul class='hidden sm:flex' id='menu'>
          {% for item in settings.header.menu %}
            <li class='px-4'>
              <a class='hover:text-primary transition duration-300 text-white' href="{{ item.url }}">{{ item.name }}</a>
            </li>
          {% endfor %}
        </ul>
        <div class='hidden sm:block socials'>
          {% for item in settings.header.socials %}
            <a href="{{ item.url }}" class='text-white hover:text-primary transition duration-500 mr-5'>
              <ion-icon name="{{ item.icon }}" class='text-xl'></ion-icon>
            </a>
          {% endfor %}
        </div>
        <button class='hover:opacity-60 sm:hidden text-white transition duration-300 outline-none focus:outline-none' onclick='toggleMenu()'>
          <ion-icon class='text-2xl' name='menu-outline'></ion-icon>
        </button>
      </div>

      <div class='fixed overlay-menu inset-0' id='nav-menu' style='z-index: 9999'>
        <div class='absolute flex flex-col items-center justify-center inset-0' id='nav-menu-wrapper'>
          <button aria-label='Close Menu' class='absolute right-0 top-0 p-1 transition duration-300 text-secondary opacity-75 hover:opacity-50 focus:outline-none' onclick='toggleMenu()' style='margin-right: 24px; margin-top: 24px'>
            <ion-icon class='text-3xl' name='close-outline'></ion-icon>
          </button>
          <ul class='mb-6' id='nav-item'>
            {% for item in settings.header.menu %}
              <li class='px-4 py-2'>
                <a class='hover:text-primary transition duration-300' href="{{ item.url }}" onclick='toggleMenu()'>{{ item.name }}</a>
              </li>
            {% endfor %}
          </ul>
          <div class=''>
            {% for item in settings.header.socials %}
              <a href="{{ item.url }}" class='text-gray-600 hover:opacity-80 transition duration-500 mx-4'>
                <ion-icon name="{{ item.icon }}" class='text-xl'></ion-icon>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </header>
    <main class='w-full overflow-hidden'>
      {{ content | safe }}
    </main>
    <!-- Footer -->
    <footer class='bg-black bg-opacity-60 w-full relative footer-area section px-8 overflow-hidden text-white' id='contact'>
      <div class='container mx-auto max-w-screen-sm'>
        <div class='text-center mb-10'>
          <img alt='logo' class='h-10 sm:h-12 inline-block' src="{{ settings.cloudinary_url }}/w_300,c_limit,fl_progressive/q_auto:good{{ settings.header.logoWhiteUrl }}"/>
        </div>
        <div class='flex flex-col mb-3 text-md font-light'>
          <p>{{ settings.footer.address }}</p>
          <p>{{ settings.footer.phone }}</p>
        </div>
        <div class='copyrights'>
          <p class='para font-light text-sm'>
            Copyright ©2020 All rights reserved | Made by
            <a class='text-primary hover:opacity-75' href='https://rooster-world.com/'>
              Rooster World
            </a>
          </p>
        </div>
      </div>
    </footer>
    <script src='https://unpkg.com/ionicons@5.2.3/dist/ionicons.js'></script>
    <script src='/assets/lightbox-plus-jquery.min.js'></script>
    <script src='https://unpkg.com/aos@2.3.1/dist/aos.js'></script>
    <script src='https://unpkg.com/colcade@0/colcade.js'></script>
    <script src='/assets/js/main.js'></script>
  </body>
</html>
