---
layout: base.liquid
---
<div class='container md:flex md:flex-row pt-6 pb-16'>
  <div class='flex flex-col justify-center md:pr-4 items-start mb-20 md:mb-0 md:w-1/2'>
    <h1 class='text-5xl font-semibold leading-tight'>
      {{ title }}
    </h1>
    <p class='text-lg text-gray-600 mb-10'>
      {{ description }}
    </p>
    <a class='bg-primary text-white font-medium py-3 px-10 rounded hover:shadow-md duration-500 transition' href='#products'>
      Shop Now
    </a>
  </div>
  <div class='slider relative md:w-1/2'>
    <div class='absolute w-full h-full '>
      <div class='swiper-container h-full overflow-hidden rounded-3xl shadow-2xl'>
        <div class='swiper-wrapper'>
          {% for slide in slides %}
            <div class='swiper-slide' style='background-image: url("{{slide}}"); background-position: center; background-size: cover; background-repeat: no-repeat;'></div>
          {% endfor %}
        </div>
        <div class='swiper-pagination'></div>
      </div>
    </div>
  </div>
</div>

<div class='text-center pb-24'>
  <a href='#products'>
    <ion-icon class='text-primary text-4xl animate-bounce cursor-pointer hover:opacity-60 transition duration-300' name='chevron-down-outline'></ion-icon>
  </a>
</div>

<!-- category -->
<section class='container'>
  <div class='grid grid-cols-4 grid-rows-4 rounded-3xl overflow-hidden'>
    <div class='bg-yellow-200 overflow-hidden w-full pb-full col-span-2 row-span-4 relative'>
      <img alt='' class='absolute w-full h-full  object-center object-cover' src="{{categories.ao}}">
      <div class='absolute w-full h-full z-10 bg-white bg-opacity-20 p-3'>
        <div class='rounded-xl w-full h-full flex items-center justify-center'></div>

      </div>
    </div>
    <div class='relative overflow-hidden col-span-2 row-span-2'>
      <img alt='' class='absolute w-full h-full  object-center object-cover' src="{{categories.giay}}">
      <div class='absolute w-full h-full z-10 bg-white bg-opacity-20 p-3'>
        <div class='rounded-xl w-full h-full flex items-center justify-center'></div>

      </div>
    </div>
    <div class='relative overflow-hidden col-span-2 row-span-2'>
      <img alt='' class='absolute w-full h-full  object-center object-cover' src="{{categories.vay}}">
      <div class='absolute w-full h-full z-10 bg-white bg-opacity-20 p-3'>
        <div class='rounded-xl w-full h-full flex items-center justify-center'></div>

      </div>
    </div>
  </div>
</section>

<!-- event -->
{% if event.open == true %}
  <section class='pb-32 container'>
    <img alt='' class='rounded-3xl' src="{{event.image}}">
  </section>
{% endif %}


<section class='collection container flex' id='product-intro'>
  <div class='flex-1 pb-1/2 relative'>
    <div class='absolute inset-10'>
      <img alt='' class='z-10 absolute w-full h-full object-cover object-center rounded-2xl' src='/assets/images/slide1.jpg'>
      <div class='absolute left-10 top-10 w-full h-full bg-primary p-10 rounded-2xl opacity-30'></div>
    </div>
  </div>
  <div class='flex-1 pl-20'>
    <h3 class='text-2xl mb-10'>Fashion Collections</h3>
    <p class='text-md font-light opacity-70 mb-4'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente itaque numquam ducimus eius sunt ea ratione tempore aliquid est? Dicta accusantium cumque debitis mollitia unde corporis laborum minima dolore inventore.</p>
    <a class='text-secondary border rounded-md px-4 py-2 border-secondary hover:bg-secondary hover:text-white transition duration-300' href='#products'>Explore More</a>
  </div>
</section>

<section class='container' id='products'>
  <div class='text-right mb-10' id='filter-menu'>
    <span class='active mr-4' data-filter='new-arrival'>New Arrival</span>
    <span class='' data-filter='best-seller'>Best Seller</span>
  </div>
  <div class='flex flex-wrap'>
    {% for item in products %}
      <a class='product-item active cursor-default' href="{{item.images[0]}}" data-lightbox="{{item.id}}" data-filter="{{item.type}}">
        <div class='product-item-wrapper relative w-full bg-yellow-300 rounded-2xl overflow-hidden shadow-xl hover:shadow-2xl duration-500 transition mb-4' style='padding-bottom: 120%;'>
          <img alt='' class='absolute w-full h-full object-cover object-center' src="{{item.images[0]}}">
          <span class='z-20 absolute top-4 right-4 h-8 w-8 flex justify-center items-center cursor-pointer leading-4 rounded-full bg-black bg-opacity-60 hover:opacity-60'>
            <ion-icon class='text-xl text-white' name='expand-outline'></ion-icon>
          </span>
          <div class='description absolute z-10 bg-black bg-opacity-60 text-white bottom-0 right-0 left-0 px-4 py-2 opacity-0 transition duration-500'>
            <p class='text-md font-semibold'>{{item.name}}</p>
            <p class='text-md font-light'>{{item.id}}</p>
          </div>
        </div>
      </a>
      {% for img in item.images offset:1 %}
        <a href="{{img}}" class='hidden' data-lightbox="{{item.id}}"></a>
      {% endfor %}
    {% endfor %}
  </div>
</section>

<section class='container'>
  <h2 class='text-4xl text-primary text-center mb-12'>Services</h2>
  <div class='flex justify-center'>
    <div class='flex flex-col items-center justify-center w-48 h-48 mx-6 p-4 rounded-xl bg-yellow-50'>
      <ion-icon class='text-5xl mb-3 text-primary' name='bicycle-outline'></ion-icon>
      <span class='text-secondary text-md opacity-60'>Free Ship</span>
    </div>
    <div class='flex flex-col items-center justify-center w-48 h-48 mx-6 p-4 rounded-xl bg-yellow-50'>
      <ion-icon class='text-5xl mb-3 text-primary' name='call-outline'></ion-icon>
      <span class='text-secondary text-md opacity-60'>Free Consultation</span>
    </div>
    <div class='flex flex-col items-center justify-center w-48 h-48 mx-6 p-4 rounded-xl bg-yellow-50'>
      <ion-icon class='text-5xl mb-3 text-primary' name='cash-outline'></ion-icon>
      <span class='text-secondary text-md opacity-60'>Warranty</span>
    </div>
  </div>
</section>

<!-- gallery -->
<section class='container'>
  <h2 class='text-4xl text-primary mb-16'>Gallery</h2>
  <div class='gallery mb-10'>
    <a data-lightbox='mygallery' href='/assets/images/slide1.jpg'>
      <img alt='' class='rounded-2xl' src='/assets/images/slide1.jpg'>
    </a>
  </div>
  <div class='flex justify-center'>
    <a class='flex items-center hover:opacity-60 transition duration-400' href='/gallery'>
      <span class='text-secondary'>More</span>
      <ion-icon class='text-primary text-4xl cursor-pointer ml-2' name='arrow-forward-outline'></ion-icon>
    </a>
  </div>
</section>


<!-- <div class='modal' id='product-modal'>
  <div class='p-8 md:p-16 h-full w-full'>
    <span class='close-btn top-0 cursor-pointer right-0 m-4 absolute text-4xl md:w-6 text-white hover:opacity-75'>&times;</span>
    <div class='swiper-container w-full h-full overflow-hidden' id='product-slider'>
      <div class='swiper-wrapper'></div>
      <div class='swiper-button-next'></div>
      <div class='swiper-button-prev'></div>
    </div>
  </div>
</div> -->
