---
layout: base.liquid
---
<section class='min-h-screen relative overflow-hidden w-full'>
  <div class='w-full h-full absolute z-10 bg-opacity-30 bg-black'>
    <div class='container w-full h-full  flex flex-col justify-center items-start '>
      <div class='md:w-1/2'>
        <h1 class='text-3xl sm:text-5xl text-white font-semibold leading-tight mb-3' data-aos-duration='800' data-aos='fade-right'>
          {{ title }}
        </h1>
        <p class='text-md sm:text-lg text-white mb-10' data-aos-delay='600' data-aos-duration='1000' data-aos='fade-right'>
          {{ description }}
        </p>
        <span data-aos-delay='900' data-aos='fade-up'>
          <a class='duration-300 transition border-primary border-2 text-white font-medium py-3 px-10 hover:bg-primary' href='#collections'>
            Shop Now
          </a>
        </span>

      </div>
    </div>


  </div>
  <video autoplay class='absolute w-full h-full object-cover object-center' loop muted src='/assets/images/video.mp4'></video>
  <div class='absolute text-center bottom-10 w-full z-20'>
    <a href='#collections'>
      <ion-icon class='text-white text-4xl animate-bounce cursor-pointer hover:opacity-60 transition duration-300' name='chevron-down-outline'></ion-icon>
    </a>
  </div>
</section>

<!-- category -->
<section class='my-4'>
  <div class='grid grid-cols-1 grid-rows-3 gap-4 sm:grid-cols-2 sm:grid-rows-2 md:grid-cols-3 md:grid-rows-1 overflow-hidden'>
    <div class='pb-2/3 relative sm:pb-full sm:row-span-2 md:col-span-1 md:row-span-1' data-aos='zoom-in' style='background-image: url({{categories.ao}});background-position: center;background-repeat: no-repeat;background-size: cover;'>
      <div class='absolute w-full top-0 left-0 h-full bg-black bg-opacity-20 z-10'></div>
    </div>
    <div class='relative' data-aos='zoom-in' style='background-image: url({{categories.giay}});background-position: center;background-repeat: no-repeat;background-size: cover;'>
      <div class='absolute w-full top-0 left-0 h-full bg-black bg-opacity-20 z-10'></div>
    </div>
    <div class='relative' data-aos='zoom-in' style='background-image: url({{categories.vay}});background-position: center;background-repeat: no-repeat;background-size: cover;'>
      <div class='absolute w-full top-0 left-0 h-full bg-black bg-opacity-20 z-10'></div>
    </div>
  </div>
</section>

<!-- event -->
{% if event.open == true %}
  <section class='section pb-2/3 sm:pb-1/2 md:pb-1/3 relative ' data-aos-duration='1200' data-aos='flip-left'>
    <div class='absolute w-full h-full top-0' style='background-image: url({{event.image}}); background-position: center; background-repeat: no-repeat; background-size: cover;'></div>
    <div class='absolute w-full h-full top-0 bg-black bg-opacity-30 flex items-center justify-center flex-col px-8 sm:px-20 md:px-1/4 '>
      <h3 class='text-4xl lg:text-6xl text-white mb-4 font-bold' data-aos-delay='200' data-aos='fade-down'>SALE</h3>
      <p class='text-sm sm:text-md text-white mb-2'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, facilis! Dolores quidem nostrum reprehenderit vero cum quam? Est dignissimos architecto maiores, quia odit tempore, fugiat labore ducimus molestias quibusdam aliquam.</p>
      <p class='text-md sm:text-xl text-white lg:text-2xl mb-6'>01/01/2021 - 01/01/2022</p>
      <span data-aos-delay='300' data-aos='fade-up'>
        <a class='duration-300 transition bg-primary border-primary hover:bg-secondary text-white font-medium py-3 px-10' href='#collections'>
          Shop Now
        </a>
      </span>
    </div>
  </section>
{% endif %}


<section class='section collection container flex flex-wrap overflow-hidden' id='product-intro'>
  <div class='w-full pb-full mb-16 md:mb-0 md:flex-1 md:pb-1/2 relative'>
    <div class='absolute inset-10'>
      <img alt='' class='z-10 absolute w-full h-full object-cover object-center' data-aos='fade-right' src='/assets/images/slide1.jpg'>
      <div class='absolute left-10 top-10 w-full h-full bg-yellow-100 p-10' data-aos-delay='300' data-aos='fade-up'></div>
    </div>
  </div>
  <div class='w-full md:flex-1 md:pl-20' data-aos-delay='600' data-aos='fade-left'>
    <h3 class='text-2xl mb-10'>Fashion Collections</h3>
    <p class='text-md font-light opacity-70 mb-6'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente itaque numquam ducimus eius sunt ea ratione tempore aliquid est? Dicta accusantium cumque debitis mollitia unde corporis laborum minima dolore inventore.</p>
    <a class='text-secondary border  px-4 py-2 border-secondary hover:bg-secondary hover:text-white transition duration-300' href='#collections'>Explore More</a>
  </div>
</section>

<section class='section container' id='collections'>
  <div class='text-right mb-10' data-aos='fade-left' id='filter-menu'>
    {% for item in data.collections %}
      <span class='px-1 {% if forloop.first == true %} active {% endif %}' onclick='setActiveCollections(this, "{{item.name}}")'>{{item.label}}</span>
    {% endfor %}
  </div>
  <div id='collections-wrapper'>
    {% for item in data.collections %}
      <div class='flex flex-wrap {% if forloop.first != true %} hidden {% endif %}' id='{{item.name}}'>
        {% for product in item.items %}
          <div class='product-item w-full cursor-default sm:w-1/2 md:w-1/3 {% if item.type == "best-seller" %} hidden {% endif %}'>
            <div class='w-full p-4' data-aos='zoom-in-up'>
              <div class='product-item-wrapper relative w-full overflow-hidden shadow-xl hover:shadow-2xl duration-500 transition' style='padding-bottom: 120%;'>
                <img alt='' class='absolute w-full h-full object-cover object-center' src="{{product.images[0]}}">
                <a href="{{product.images[0]}}" data-lightbox="{{product.id}}" class='zoom-btn z-20 absolute top-4 right-4 h-8 w-8 flex justify-center items-center cursor-pointer leading-4 rounded-full bg-black bg-opacity-60 hover:opacity-60'>
                  <ion-icon class='text-xl text-white' name='expand-outline'></ion-icon>
                </a>
                <div class='description absolute z-10 bg-black bg-opacity-60 text-white bottom-0 right-0 left-0 px-4 py-2 opacity-0 transition duration-500'>
                  <p class='text-md font-semibold'>{{product.name}}</p>
                  <p class='text-md font-light'>{{product.id}}</p>
                </div>
              </div>
            </div>
            {% for img in product.images offset:1 %}
              <a href="{{img}}" class='hidden' data-lightbox="{{product.id}}"></a>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>


</section>

<section class='min-h-screen w-full relative' id='about'>
  <img alt='' class='absolute w-full h-full top-0 left-0 object-center object-cover' src='/assets/images/slide4.jpg'>
  <div class='absolute w-full h-full p-8 sm:p-10 bg-black bg-opacity-30'>
    <div class='w-full md:w-2/3 lg:w-1/2 h-full flex flex-col justify-center items-center m-auto'>
      <h4 class='text-3xl md:text-4xl mb-6 text-white'>Who we are?</h4>
      <p class='text-md text-white opacity-80 leading-10 relative italic'>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat dicta atque officia blanditiis asperiores non, rem et temporibus, eum facere esse cupiditate id, corrupti nesciunt? Tempore magni neque architecto sunt.
        <ion-icon class='text-4xl md:text-6xl text-primary absolute top-0 left-0 transform -translate-x-1/2' src='/assets/images/quote.svg' style='z-index: -1;'></ion-icon>
      </p>
    </div>
  </div>
</section>

<!-- gallery -->
<section class='section container' id='gallery'>
  <h2 class='text-4xl text-primary mb-16' data-aos='fade-right'>Gallery</h2>
  <div class='gallery mb-10 gap-4'>
    {% for item in data.gallery %}
      {% if forloop.index > 5 %}
        {% break %}
      {% else %}
        <a data-lightbox='mygallery' href='{{item}}' class='w-full mb-2 inline-block relative overflow-hidden'>
          <img alt='' class='w-full' data-aos='flip-left' src='{{item}}'>
        </a>
      {% endif %}
    {% endfor %}

  </div>
  <div class='flex justify-center'>
    <a class='flex items-center hover:opacity-60 transition duration-400' href='/gallery'>
      <span class='text-secondary'>More</span>
      <ion-icon class='text-primary text-4xl cursor-pointer ml-2' name='arrow-forward-outline'></ion-icon>
    </a>
  </div>
</section>
