---
layout: base.liquid
---
<div class='container sm:flex sm:flex-row pt-16 pb-10 sm:pt-20 sm:pb-16'>
  <div class='flex flex-col justify-center sm:pr-4 md:pr-10 items-start mb-20 md:mb-0 sm:w-1/2'>
    <h1 class='text-5xl font-semibold leading-tight' data-aos-duration='800' data-aos='fade-right'>
      {{ title }}
    </h1>
    <p class='text-lg text-gray-600 mb-10' data-aos-delay='600' data-aos-duration='1000' data-aos='fade-right'>
      {{ description }}
    </p>
    <a class='bg-primary text-white font-medium py-3 px-10 rounded hover:shadow-md duration-500 transition' data-aos-delay='900' data-aos='fade-up' href='#collections'>
      Shop Now
    </a>
  </div>
  <div class='sm:w-1/2'>
    <div class='slider relative' data-aos-delay='1200' data-aos-duration='1000' data-aos='fade-left'>
      <div class='absolute w-full h-full '>
        <div class='swiper-container h-full overflow-hidden rounded-3xl shadow-2xl'>
          <div class='swiper-wrapper'>
            {% for slide in slides %}
              <div class='swiper-slide' style='background-image: url("{{slide}}"); background-position: center; background-size: cover; background-repeat: no-repeat;'></div>
            {% endfor %}
          </div>
          <div class='swiper-pagination swiper-pagination-white'></div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class='text-center pb-24'>
  <a href='#collections'>
    <ion-icon class='text-primary text-4xl animate-bounce cursor-pointer hover:opacity-60 transition duration-300' name='chevron-down-outline'></ion-icon>
  </a>
</div>

<!-- category -->
<section class='container'>
  <div class='grid grid-cols-4 grid-rows-4 rounded-3xl overflow-hidden'>
    <div class='overflow-hidden w-full pb-full col-span-2 row-span-4 relative' data-aos='zoom-in'>
      <img alt='' class='absolute w-full h-full  object-center object-cover' src="{{categories.ao}}">
      <div class='absolute w-full h-full z-10 bg-white bg-opacity-20 p-3'>
        <div class='rounded-xl w-full h-full flex items-center justify-center'></div>

      </div>
    </div>
    <div class='relative overflow-hidden col-span-2 row-span-2' data-aos-delay='300' data-aos='zoom-in'>
      <img alt='' class='absolute w-full h-full  object-center object-cover' src=' {{categories.giay}} '>
      <div class='absolute w-full h-full z-10 bg-white bg-opacity-20 p-3'>
        <div class='rounded-xl w-full h-full flex items-center justify-center'></div>

      </div>
    </div>
    <div class='relative overflow-hidden col-span-2 row-span-2' data-aos-delay='600' data-aos='zoom-in'>
      <img alt='' class='absolute w-full h-full  object-center object-cover' src=' {{categories.vay}} '>
      <div class='absolute w-full h-full z-10 bg-white bg-opacity-20 p-3'>
        <div class='rounded-xl w-full h-full flex items-center justify-center'></div>

      </div>
    </div>
  </div>
</section>

<!-- event -->
{% if event.open == true %}
  <section class='container' data-aos-duration='1200' data-aos='flip-left'>
    <img alt='' class='rounded-3xl' src="{{event.image}}">
  </section>
{% endif %}


<section class='collection container flex flex-wrap' id='product-intro'>
  <div class='w-full pb-full mb-16 md:mb-0 md:flex-1 md:pb-1/2 relative'>
    <div class='absolute inset-10'>
      <img alt='' class='z-10 absolute w-full h-full object-cover object-center rounded-2xl' data-aos='fade-right' src='/assets/images/slide1.jpg'>
      <div class='absolute left-10 top-10 w-full h-full bg-yellow-100 p-10 rounded-2xl' data-aos-delay='300' data-aos='fade-up'></div>
    </div>
  </div>
  <div class='w-full md:flex-1 md:pl-20' data-aos-delay='600' data-aos='fade-left'>
    <h3 class='text-2xl mb-10'>Fashion Collections</h3>
    <p class='text-md font-light opacity-70 mb-6'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente itaque numquam ducimus eius sunt ea ratione tempore aliquid est? Dicta accusantium cumque debitis mollitia unde corporis laborum minima dolore inventore.</p>
    <a class='text-secondary border rounded-md px-4 py-2 border-secondary hover:bg-secondary hover:text-white transition duration-300' href='#collections'>Explore More</a>
  </div>
</section>

<section class='container' id='collections'>
  <div class='text-right mb-10' id='filter-menu'>
    {% for item in data.collections %}
      <span class='px-1 {% if forloop.first == true %} active {% endif %}' onclick='setActiveCollections(this, "{{item.name}}")'>{{item.label}}</span>
    {% endfor %}
  </div>
  <div id='collections-wrapper'>
    {% for item in data.collections %}
      <div class='flex flex-wrap {% if forloop.first != true %} hidden {% endif %}' id='{{item.name}}'>
        {% for product in item.items %}
          <div class='product-item w-full cursor-default sm:w-1/2 md:w-1/3 {% if item.type == "best-seller" %} hidden {% endif %}'>
            <div class='w-full p-4' data-aos='zoom-in-up'>
              <div class='product-item-wrapper relative w-full rounded-2xl overflow-hidden shadow-xl hover:shadow-2xl duration-500 transition' style='padding-bottom: 120%;'>
                <img alt='' class='absolute w-full h-full object-cover object-center' src="{{product.images[0]}}">
                <a href="{{product.images[0]}}" data-lightbox="{{product.id}}" class='zoom-btn z-20 absolute top-4 right-4 h-8 w-8 flex justify-center items-center cursor-pointer leading-4 rounded-full bg-black bg-opacity-60 hover:opacity-60'>
                  <ion-icon class='text-xl text-white' name='expand-outline'></ion-icon>
                </a>
                <div class='description absolute z-10 bg-black bg-opacity-60 text-white bottom-0 right-0 left-0 px-4 py-2 opacity-0 transition duration-500'>
                  <p class='text-md font-semibold'>{{product.name}}</p>
                  <p class='text-md font-light'>{{product.id}}</p>
                </div>
              </div>
            </div>
            {% for img in product.images offset:1 %}
              <a href="{{img}}" class='hidden' data-lightbox="{{product.id}}"></a>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>


</section>

<section class='container' id='services'>
  <h2 class='text-4xl text-primary text-center mb-12' data-aos='fade-top'>Services</h2>
  <div class='flex flex-wrap justify-center'>
    {% for item in services %}
      <div data-aos='fade-right' data-aos-delay='{{forloop.index | times: 200}}' class='flex flex-col items-center justify-center w-full mb-4 sm:w-36 sm:h-36 md:w-48 md:h-48 md:mx-4 sm:mx-2 p-4 rounded-xl bg-yellow-50'>
        <ion-icon class='text-3xl sm:text-4xl md:text-5xl mb-3 text-primary' name='{{item.icon}}'></ion-icon>
        <span class='text-secondary text-md opacity-60'>{{item.name}}</span>
      </div>
    {% endfor %}
  </div>
</section>

<!-- gallery -->
<section class='container' id='gallery'>
  <h2 class='text-4xl text-primary mb-16' data-aos='fade-right'>Gallery</h2>
  <div class='gallery mb-10'>
    {% for item in data.gallery %}
      <a data-lightbox='mygallery' href='{{item}}' class='inline-block rounded-2xl relative mb-4 overflow-hidden'>
        <img alt='' class='w-full' data-aos='flip-left' src='{{item}}'>
      </a>
    {% endfor %}

  </div>
  <div class='flex justify-center'>
    <a class='flex items-center hover:opacity-60 transition duration-400' href='/gallery'>
      <span class='text-secondary'>More</span>
      <ion-icon class='text-primary text-4xl cursor-pointer ml-2' name='arrow-forward-outline'></ion-icon>
    </a>
  </div>
</section>
